
.leading-md {
  line-height: 1.45em;
}


.leading-e3 {
  line-height: .75em;
}

.leading-e4 {
  line-height: 1em;
}

.leading-e5 {
  line-height: 1.25em;
}

.leading-e6 {
  line-height: 1.5em;
}

.leading-e7 {
  line-height: 1.75em;
}

.leading-e8 {
  line-height: 2em;
}

.leading-e9 {
  line-height: 2.25em;
}

.leading-e10 {
  line-height: 2.5em;
}


.leading-3 {
  line-height: .75rem;
}

.leading-4 {
  line-height: 1rem;
}

.leading-5 {
  line-height: 1.25rem;
}

.leading-6 {
  line-height: 1.5rem;
}

.leading-7 {
  line-height: 1.75rem;
}

.leading-8 {
  line-height: 2rem;
}

.leading-9 {
  line-height: 2.25rem;
}

.leading-10 {
  line-height: 2.5rem;
}

.leading-zero {
  line-height: 0;
}

.leading-none {
  line-height: 1;
}

.leading-tiny {
  line-height: 1.1;
}


.leading-tight {
  line-height: 1.25;
}

.leading-snug {
  line-height: 1.375;
}

.leading-normal {
  line-height: 1.5;
}

.leading-relaxed {
  line-height: 1.625;
}

.leading-loose {
  line-height: 2;
}
