
@media (min-width: $breakpoint-xs) {

}

@media (min-width: $breakpoint-md) {

}

.expand-block-md {
  margin-left: -16px;
  margin-right: -16px;

  @media (min-width: $breakpoint-sm) {
    margin-left: -12px;
    margin-right: -12px;
  }
}


