
.w-heade1 {
  position: relative;
  border-bottom: 4px solid #aab0b6;
  padding: 0px 0 14px 0;
  margin: 0 0 24px 0;

  display: flex;
  overflow: hidden;

  .w-header__title {
    text-transform: uppercase;
    display: inline-block;
    font-size: 24px;
    line-height: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    white-space: nowrap;
    margin-right: auto;
    padding: 0;

    a, span {
      color: #818a93;
      text-decoration: none;
    }
  }

  .w-header__more {

    font-size: 17px;
    font-weight: 600;
    line-height: 1;

    a {
      color: #818a93;
      text-decoration: none;

      .q-icon {
        font-size: 25px;
      }
    }
  }
}
